Report/Figures/frog-eps-converted-to.pdf
Report/Project-Template-Main.synctex.gz
Report/Project-Template-Main.dvi
Report/__latexindent_temp.tex
Report/Project-Template-Main.aux
Report/Project-Template-Main.bbl
Report/Project-Template-Main.blg
Report/Project-Template-Main.fdb_latexmk
Report/Project-Template-Main.fls
Report/Project-Template-Main.log
Report/Project-Template-Main.out
